<div class="form-group">
    <label for="txt_host" class="col-lg-3 control-label">Host</label>
    <div class="col-lg-9">
        <input type="text" id="txt_host" placeholder="Enter host" name="txt_host" class="form-control" ng-class="smssetup.txt_host.$invalid && !smssetup.txt_host.$pristine" ng-model="form.txt_host" required/>
    </div>
</div>

<div class="form-group">
    <label for="int_port" class="col-lg-3 control-label">Port</label>
    <div class="col-lg-9">
        <input type="number" id="int_port" placeholder="Enter port" name="int_port"  class="form-control" ng-class="smssetup.int_port.$invalid && !smssetup.int_port.$pristine" ng-model="form.int_port" required/>
    </div>
</div>

<div class="form-group">
    <label for="txt_username" class="col-lg-3 control-label">Username</label>
    <div class="col-lg-9">
        <input type="text" id="txt_username" placeholder="Enter username" name="txt_username"  class="form-control" ng-class="smssetup.txt_username.$invalid && !smssetup.txt_username.$pristine" ng-model="form.txt_username" required/>
    </div>
</div>

<div class="form-group">
    <label for="password" class="col-lg-3 control-label">Password</label>
    <div class="col-lg-9">
        <input type="password" id="password" placeholder="Enter password" name="password"  class="form-control" ng-class="smssetup.password.$invalid && !smssetup.password.$pristine" ng-model="form.password" required/>
    </div>
</div>

<div class="form-group">
    <label for="txt_msg_type" class="col-lg-3 control-label">Msg Type</label>
    <div class="col-lg-9">
        <input type="text" id="txt_msg_type" placeholder="Enter msg type" name="txt_msg_type"  class="form-control" ng-class="smssetup.txt_msg_type.$invalid && !smssetup.txt_msg_type.$pristine" ng-model="form.txt_msg_type" required/>
    </div>
</div>

<div class="form-group">
    <label for="txt_delivery" class="col-lg-3 control-label">Delivery</label>
    <div class="col-lg-9">
        <input type="text" id="txt_delivery" placeholder="Enter delivery" name="txt_delivery"  class="form-control" ng-class="smssetup.txt_delivery.$invalid && !smssetup.txt_delivery.$pristine" ng-model="form.txt_delivery" required/>
    </div>
</div>