<!--Suspend User Form-->
<!--author: Fatma Azad-->
<div id="page-content">
    <form name="suspend"  ng-submit="Suspend()"  novalidate>
        <div class="modal-header" style="background-color: #d11010; color: white;">
            <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" style="color: white; font-size: 35px;">&times;</button>
            <h4 class="modal-title ocean upper"><i class="pe pe-7s-trash pe-fw pe-va pe-2x"></i>{{title}}</h4>        
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <input type="hidden" id="id" name="id" value="" ng-model="form.id" />
                <div class="form-group">
                    <label for="checkme" class="col-lg-2 control-label"></label>
                    <div class="col-lg-8">
                        <h2 class="text-danger"><i class="pe pe-7s-lock pe-fw pe-va pe-2x"></i> User Account Suspension </h2>
                         <span>In order to suspend user account, you must click the “I have read and agreed to suspension policy” and then click the “Submit” button.</span><br>
                         <br>
                        <input type="checkbox" id="checkme" name="checkme"  ng-model="checkme" required> 
                       
                        <b>I have read and agreed to the <span class="text-danger">User Suspension Policy</span></b>                      
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" ng-disabled="!checkme" class="btn btn-info" name="submit"> Submit </button>
            <button ng-click="cancel()"type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>



