<div class="form-group">
    <label for="txt_host" class="col-lg-3 control-label">Host</label>
    <div class="col-lg-9">
        <input type="text" id="txt_host" placeholder="Enter host" name="txt_host"  class="form-control" ng-class="emailsetup.txt_host.$invalid && !emailsetup.txt_host.$pristine" ng-model="form.txt_host" required/>
    </div>
</div>

<div class="form-group">
    <label for="txt_username" class="col-lg-3 control-label">Username</label>
    <div class="col-lg-9">
        <input type="text" id="txt_username" placeholder="Enter username" name="txt_username"  class="form-control" ng-class="emailsetup.txt_username.$invalid && !emailsetup.txt_username.$pristine" ng-model="form.txt_username" required/>
    </div>
</div>

<div class="form-group">
    <label for="password" class="col-lg-3 control-label">Password</label>
    <div class="col-lg-9">
        <input type="password" id="password" placeholder="Enter password" name="password"  class="form-control" ng-class="emailsetup.password.$invalid && !emailsetup.password.$pristine" ng-model="form.password" required/>
    </div>
</div>

<div class="form-group">
    <label for="int_smtp_debug" class="col-lg-3 control-label">Smtp Debug</label>
    <div class="col-lg-9">
        <input type="number" id="int_smtp_debug" placeholder="Enter smtp debug" name="int_smtp_debug"  class="form-control" ng-class="emailsetup.int_smtp_debug.$invalid && !emailsetup.int_smtp_debug.$pristine" ng-model="form.int_smtp_debug" required/>
    </div>
</div>

<div class="form-group">
    <label for="txt_smtp_auth" class="col-lg-3 control-label">Smtp Auth</label>
    <div class="col-lg-9">
        <input type="text" id="txt_smtp_auth" placeholder="Enter smtp auth" name="txt_smtp_auth"  class="form-control" ng-class="emailsetup.txt_smtp_auth.$invalid && !emailsetup.txt_smtp_auth.$pristine" ng-model="form.txt_smtp_auth" required/>
    </div>
</div>

<div class="form-group">
    <label for="txt_smtp_secure" class="col-lg-3 control-label">Smtp Secure</label>
    <div class="col-lg-9">
        <input type="text" id="txt_smtp_secure" placeholder="Enter smtp secure" name="txt_smtp_secure"  class="form-control" ng-class="emailsetup.txt_smtp_secure.$invalid && !emailsetup.txt_smtp_secure.$pristine" ng-model="form.txt_smtp_secure" required/>
    </div>
</div>

<div class="form-group">
    <label for="txt_from_email" class="col-lg-3 control-label">From Email</label>
    <div class="col-lg-9">
        <input type="text" id="txt_from_email" placeholder="Enter from email" name="txt_from_email"  class="form-control" ng-class="emailsetup.txt_from_email.$invalid && !emailsetup.txt_from_email.$pristine" ng-model="form.txt_from_email" required/>
    </div>
</div>

<div class="form-group">
    <label for="txt_from_name" class="col-lg-3 control-label">From Name</label>
    <div class="col-lg-9">
        <input type="text" id="txt_from_name" placeholder="Enter from name" name="txt_from_name"  class="form-control" ng-class="emailsetup.txt_from_name.$invalid && !emailsetup.txt_from_name.$pristine" ng-model="form.txt_from_name" required/>
    </div>
</div>

<div class="form-group">
    <label for="int_port" class="col-lg-3 control-label">Port</label>
    <div class="col-lg-9">
        <input type="number" id="int_port" placeholder="Enter port" name="int_port"  class="form-control" ng-class="emailsetup.int_port.$invalid && !emailsetup.int_port.$pristine" ng-model="form.int_port" required/>
    </div>
</div>